In [24]:
import csv
import copy
from tqdm import tqdm
import pandas as pd
import numpy as np

In [25]:
csv_file = "data/stock.csv"
out_file = "data/stock_clean.csv"
companys = {}
#companys_copy = {}
with open('data/stock.csv', newline='') as f:
    reader = csv.reader(f) # Code, Year, Company, Exchange, Return
    for idx,row in enumerate(reader):
        if idx==0:
            continue
        if not row[2] in companys:
            companys[row[2]] = {}
        else:
            companys[row[2]][row[1]] = row[-1]
#To dataframe
df = pd.DataFrame(companys)

#Sort date
df.sort_index(axis=0,inplace = True)

#Delete columns with less 120 months available
cols = df.columns
for col in tqdm(cols):
    if np.sum(df[col].notna())<=120:
        df.drop(col,axis=1,inplace = True)

#Save to csv
df.to_csv(out_file)

100%|██████████| 4096/4096 [01:14<00:00, 54.85it/s]

,ACF,AJ,ABK,NCM,AMT,ADX,AB,AN,TW,AYP,...,GME,BCL,BCF,EKR,IPT,GNT,HCP,TRP,WIX,CLM
19620831,NaN,NaN,NaN,NaN,NaN,NaN,0.111111,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19620928,-0.054004,-0.093750,0.018182,-0.067358,NaN,-0.060000,-0.150000,-0.055288,NaN,0.001644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.119643,NaN
19621031,0.070866,-0.137931,-0.007979,0.061111,NaN,-0.005319,-0.029412,-0.007634,NaN,0.016575,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.034483,NaN
19621130,0.080882,0.080000,0.029491,0.208995,NaN,0.108449,0.202020,0.151282,NaN,0.056522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.189076,NaN
19621231,0.058319,0.074074,0.033333,-0.026258,NaN,0.010101,-0.058824,-0.022523,NaN,0.012987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.024911,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19950331,0.083333,NaN,0.000000,-0.026638,0.103448,-0.007634,0.026316,0.071579,-0.050505,-0.019787,...,0.013029,0.116279,-0.077778,0.100000,0.153846,0.061275,-0.012500,-0.024208,NaN,-0.030769
19950428,0.107692,NaN,0.003077,0.027429,0.296875,0.061538,0.055769,0.031434,0.031915,0.038674,...,0.109325,0.138889,0.036145,-0.030303,0.015506,0.006173,0.038987,0.039216,NaN,0.015873
19950531,-0.013889,NaN,-0.015092,-0.026925,0.132289,0.014203,-0.030488,0.051048,-0.061856,0.058511,...,-0.011478,-0.097561,0.000000,-0.062500,-0.062857,0.070552,0.049587,0.000000,NaN,0.000000
19950630,0.253521,NaN,0.003125,0.027733,0.010695,-0.007194,0.081761,-0.025594,0.098901,-0.038794,...,0.023529,0.020270,-0.034884,-0.133333,0.067073,0.019341,0.007874,0.023117,NaN,-0.015625
19950731,0.011236,NaN,-0.006231,-0.005739,0.121693,0.043478,0.125000,0.009381,-0.050000,0.021277,...,0.011494,-0.006623,0.228916,-0.076923,0.038629,0.216901,0.011719,0.018692,NaN,0.111111

In [5]:
df.head

<bound method NDFrame.head of                 ACF         AJ        ABK        NCM        AMT  TTI  \
19620928  -0.054004  -0.093750   0.018182  -0.067358        NaN  NaN
19621031   0.070866  -0.137931  -0.007979   0.061111        NaN  NaN
19621130   0.080882   0.080000   0.029491   0.208995        NaN  NaN
19621231   0.058319   0.074074   0.033333  -0.026258        NaN  NaN
19630131   0.047002   0.034483   0.056122   0.057471        NaN  NaN
...             ...        ...        ...        ...        ...  ...
19880129        NaN        NaN        NaN        NaN  -0.030928  NaN
19880229        NaN        NaN        NaN        NaN  -0.065957  NaN
19880331        NaN        NaN        NaN        NaN   0.252874  NaN
19880429        NaN        NaN        NaN        NaN  -0.093578  NaN
19620831        NaN        NaN        NaN        NaN        NaN  NaN

                ADX         AB         AN        TW  ...  SWH        PAT  \
19620928  -0.060000  -0.150000  -0.055288       NaN  ...  NaN        NaN
19621031  -0.005319  -0.029412  -0.007634       NaN  ...  NaN        NaN
19621130   0.108449   0.202020   0.151282       NaN  ...  NaN        NaN
19621231   0.010101  -0.058824  -0.022523       NaN  ...  NaN        NaN
19630131   0.060000   0.157407   0.041475       NaN  ...  NaN        NaN
...             ...        ...        ...       ...  ...  ...        ...
19880129   0.075294        NaN   0.083333  0.008772  ...  NaN   0.000000
19880229   0.015748        NaN   0.010033  0.158261  ...  NaN   0.108108
19880331  -0.046512        NaN  -0.016750  0.030075  ...  NaN   0.272195
19880429   0.008130        NaN   0.064736  0.029197  ...  NaN  -0.057692
19620831        NaN   0.111111        NaN       NaN  ...  NaN        NaN

                RBK  SEI        KPE  UNH   VM  SMX  BSG  WYS
19620928        NaN  NaN        NaN  NaN  NaN  NaN  NaN  NaN
19621031        NaN  NaN        NaN  NaN  NaN  NaN  NaN  NaN
19621130        NaN  NaN        NaN  NaN  NaN  NaN  NaN  NaN
19621231        NaN  NaN        NaN  NaN  NaN  NaN  NaN  NaN
19630131        NaN  NaN        NaN  NaN  NaN  NaN  NaN  NaN
...             ...  ...        ...  ...  ...  ...  ...  ...
19880129   0.223529  NaN        NaN  NaN  NaN  NaN  NaN  NaN
19880229   0.115385  NaN  -0.065574  NaN  NaN  NaN  NaN  NaN
19880331   0.065517  NaN   0.087719  NaN  NaN  NaN  NaN  NaN
19880429  -0.056911  NaN   0.096774  NaN  NaN  NaN  NaN  NaN
19620831        NaN  NaN        NaN  NaN  NaN  NaN  NaN  NaN

[396 rows x 4096 columns]>

In [11]:
np.sort(df.index)

array(['19620831', '19620928', '19621031', '19621130', '19621231',
       '19630131', '19630228', '19630329', '19630430', '19630531',
       '19630628', '19630731', '19630830', '19630930', '19631031',
       '19631129', '19631231', '19640131', '19640228', '19640331',
       '19640430', '19640528', '19640630', '19640731', '19640831',
       '19640930', '19641030', '19641130', '19641231', '19650129',
       '19650226', '19650331', '19650430', '19650528', '19650630',
       '19650730', '19650831', '19650930', '19651029', '19651130',
       '19651231', '19660131', '19660228', '19660331', '19660429',
       '19660531', '19660630', '19660729', '19660831', '19660930',
       '19661031', '19661130', '19661230', '19670131', '19670228',
       '19670331', '19670428', '19670531', '19670630', '19670731',
       '19670831', '19670929', '19671031', '19671130', '19671229',
       '19680131', '19680229', '19680329', '19680430', '19680531',
       '19680628', '19680730', '19680830', '19680930', '19681031',
       '19681129', '19681231', '19690131', '19690228', '19690328',
       '19690430', '19690529', '19690630', '19690731', '19690829',
       '19690930', '19691031', '19691128', '19691231', '19700130',
       '19700227', '19700331', '19700430', '19700529', '19700630',
       '19700731', '19700831', '19700930', '19701030', '19701130',
       '19701231', '19710129', '19710226', '19710331', '19710430',
       '19710528', '19710630', '19710730', '19710831', '19710930',
       '19711029', '19711130', '19711231', '19720131', '19720229',
       '19720330', '19720428', '19720531', '19720630', '19720731',
       '19720831', '19720929', '19721031', '19721130', '19721229',
       '19730131', '19730228', '19730330', '19730430', '19730531',
       '19730629', '19730731', '19730831', '19730928', '19731031',
       '19731130', '19731231', '19740131', '19740228', '19740329',
       '19740430', '19740531', '19740628', '19740731', '19740830',
       '19740930', '19741031', '19741129', '19741231', '19750131',
       '19750228', '19750331', '19750430', '19750530', '19750630',
       '19750731', '19750829', '19750930', '19751031', '19751128',
       '19751231', '19760130', '19760227', '19760331', '19760430',
       '19760528', '19760630', '19760730', '19760831', '19760930',
       '19761029', '19761130', '19761231', '19770131', '19770228',
       '19770331', '19770429', '19770531', '19770630', '19770729',
       '19770831', '19770930', '19771031', '19771130', '19771230',
       '19780131', '19780228', '19780331', '19780428', '19780531',
       '19780630', '19780731', '19780831', '19780929', '19781031',
       '19781130', '19781229', '19790131', '19790228', '19790330',
       '19790430', '19790531', '19790629', '19790731', '19790831',
       '19790928', '19791031', '19791130', '19791231', '19800131',
       '19800229', '19800331', '19800430', '19800530', '19800630',
       '19800731', '19800829', '19800930', '19801031', '19801128',
       '19801231', '19810130', '19810227', '19810331', '19810430',
       '19810529', '19810630', '19810731', '19810831', '19810930',
       '19811030', '19811130', '19811231', '19820129', '19820226',
       '19820331', '19820430', '19820528', '19820630', '19820730',
       '19820831', '19820930', '19821029', '19821130', '19821231',
       '19830131', '19830228', '19830331', '19830429', '19830531',
       '19830630', '19830729', '19830831', '19830930', '19831031',
       '19831130', '19831230', '19840131', '19840229', '19840330',
       '19840430', '19840531', '19840629', '19840731', '19840831',
       '19840928', '19841031', '19841130', '19841231', '19850131',
       '19850228', '19850329', '19850430', '19850531', '19850628',
       '19850731', '19850830', '19850930', '19851031', '19851129',
       '19851231', '19860131', '19860228', '19860331', '19860430',
       '19860530', '19860630', '19860731', '19860829', '19860930',
       '19861031', '19861128', '19861231', '19870130', '19870227',
       '19870331', '19870430', '19870529', '19870630', '19870731',
       '19870831', '19870930', '19871030', '19871130', '19871231',
       '19880129', '19880229', '19880331', '19880429', '19880531',
       '19880630', '19880729', '19880831', '19880930', '19881031',
       '19881130', '19881230', '19890131', '19890228', '19890331',
       '19890428', '19890531', '19890630', '19890731', '19890831',
       '19890929', '19891031', '19891130', '19891229', '19900131',
       '19900228', '19900330', '19900430', '19900531', '19900629',
       '19900731', '19900831', '19900928', '19901031', '19901130',
       '19901231', '19910131', '19910228', '19910328', '19910430',
       '19910531', '19910628', '19910731', '19910830', '19910930',
       '19911031', '19911129', '19911231', '19920131', '19920228',
       '19920331', '19920430', '19920529', '19920630', '19920731',
       '19920831', '19920930', '19921030', '19921130', '19921231',
       '19930129', '19930226', '19930331', '19930430', '19930528',
       '19930630', '19930730', '19930831', '19930930', '19931029',
       '19931130', '19931231', '19940131', '19940228', '19940331',
       '19940429', '19940531', '19940630', '19940729', '19940831',
       '19940930', '19941031', '19941130', '19941230', '19950131',
       '19950228', '19950331', '19950428', '19950531', '19950630',
       '19950731'], dtype=object)

In [15]:
df = df.sort_index(axis=0)

In [16]:
df

,ACF,AJ,ABK,NCM,AMT,TTI,ADX,AB,AN,TW,...,SWH,PAT,RBK,SEI,KPE,UNH,VM,SMX,BSG,WYS
19620831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.111111,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19620928,-0.054004,-0.093750,0.018182,-0.067358,NaN,NaN,-0.060000,-0.150000,-0.055288,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19621031,0.070866,-0.137931,-0.007979,0.061111,NaN,NaN,-0.005319,-0.029412,-0.007634,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19621130,0.080882,0.080000,0.029491,0.208995,NaN,NaN,0.108449,0.202020,0.151282,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19621231,0.058319,0.074074,0.033333,-0.026258,NaN,NaN,0.010101,-0.058824,-0.022523,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19950331,0.083333,NaN,0.000000,-0.026638,0.103448,-0.068182,-0.007634,0.026316,0.071579,-0.050505,...,0.021739,0.090385,-0.025256,0.181818,NaN,0.087907,NaN,NaN,NaN,NaN
19950428,0.107692,NaN,0.003077,0.027429,0.296875,0.097561,0.061538,0.055769,0.031434,0.031915,...,-0.106383,0.000000,-0.122807,-0.015385,NaN,-0.224599,NaN,NaN,NaN,NaN
19950531,-0.013889,NaN,-0.015092,-0.026925,0.132289,0.200000,0.014203,-0.030488,0.051048,-0.061856,...,0.095238,0.074074,0.072000,-0.117188,NaN,0.027586,NaN,NaN,NaN,NaN
19950630,0.253521,NaN,0.003125,0.027733,0.010695,0.018519,-0.007194,0.081761,-0.025594,0.098901,...,-0.086957,-0.103448,0.017164,0.097345,NaN,0.110738,NaN,NaN,NaN,NaN
19950731,0.011236,NaN,-0.006231,-0.005739,0.121693,-0.036364,0.043478,0.125000,0.009381,-0.050000,...,0.047619,0.153846,0.055147,-0.161290,NaN,0.087613,NaN,NaN,NaN,NaN